{% extends "home_user.html" %}
{% block content %}
    <h2>Jūs sėkmingai atsijungėte</h2>
    <div class="boarder-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Prisijungti dar kartą</a>
        </small>
    </div>
{% endblock content %}
