{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <span class="badge badge-info">
                <h2>Register <i class="fas fa-arrow-down"></i></h2>
                </span>
                <br>
                <br>
                <div class="d-flex justify-content-center">
                    <div class="col-md-4 align-self-center">
                        {{ form|crispy }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registruotis</button>
            </div>
        </form>
        <div class="boarder-top pt-3">
            <small class="text-muted">
                Ar jau turite paskyrą? <a class="ml-2" href="{% url 'login' %}">Prisijunkite čia</a>
            </small>
        </div>
    </div>
{% endblock content %}
