<!doctype html>
<html lang="en">


<!-- HEADER IN INCLUDES -->
{% block header %}
    {% include "includes/header.html" %}
{% endblock %}
<!-- END HEADER -->


<!-- BODY -->
<body>


<!-- NAVBAR IN INCLUDES -->
{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}
<!-- NAVBAR END -->


<!-- JUMBOTRON BOOTSTRAP -->
<div class="jumbotron text-center">

    <h1 class="display-4 text-warning">Hello, this is <a href="{% url 'home' %}" style="text-decoration:none">QuizBot</a>!</h1>
    <p class="lead">This is a simple quizbot, a simple random questions.</p>


    <!-- Show message users/views.py register -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!-- end message -->

    <hr class="my-4">


    <!-- CONTENT -->
    {% block content %}
    {% endblock %}
    <!-- END CONTENT -->

</div>
<!-- END JUMBOTRON BOOTSTRAP -->


<!-- FOOTER IN INCLUDES -->
{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
<!-- END FOOTER -->


<!-- JAVASCRIPT IN INCLUDES -->
{% block javascript %}
    {% include 'includes/javascript.html' %}
{% endblock %}
<!-- END JAVASCRIPT -->


</body>
<!-- BODY ENDS -->

</html>