{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
                <span class="badge badge-info">
                <h2>Create Quiz<i class="fas fa-arrow-down"></i></h2>
                    <p class="lead"><small>You need to click is active to show your Quiz</small></p>
                </span>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <div class="col-md-4 align-self-center">
                    {{ form|crispy }}
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Post</button>
        </div>
    </form>
{% endblock %}


