<!-- FROM base.html -->
{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

<!-- User is authenticated -->
<p>Choice your favorite Quiz, and get started: </p>
<div class="row row-cols-3">
    {% for quiz in quizzes %}

        <!-- Show Quizzes if is there more than one question -->
{#        {% if quiz.count_questions > 0 %}#}

            <div class="card text-dark bg-light mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.topic }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        There are {{ quiz.count_questions }} left questions.</h6>
                    <p class="card-text">{{ quiz.description }}</p>
                    <a href="{{ quiz.url }}" class="card-link">START</a>
                </div>
            </div>

{#        {% endif %}#}
    {% endfor %}
</div>

{% endblock %}

<!-- END CONTENT -->



