<!-- FROM base.html -->
{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

    <p class="lead">You need to Authenticate </p>

    <!-- Login & Register button -->
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">Register</a>
    <br>
    <br>
    <br>

    <!-- Leader board button -->
    <p class="lead">
        <i class="fas fa-trophy"></i>
        There are the best players of the QuizBot
        <i class="fas fa-trophy"></i>
    </p>
    <a class="btn btn-primary btn-sm" href="{% url 'leaderboard' %}" role="button">Top players</a>

{% endblock %}

<!-- END CONTENT -->
