<!-- FROM base.html -->
{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}
    {% if user.is_authenticated == False %}
        <p class="lead">You need to Authenticate to start Quizzes </p>

        <!-- Login & Register button -->
        <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'register' %}" role="button">Register</a>
        <br>
        <br>
        <br>
    {% endif %}

    <!-- Container Top Players -->
    <div class="container">
        <h1 class="text-center my-4">
        <span class="badge badge-info">
            <i class="fa fa-trophy" aria-hidden="true"></i>

            <!-- Total Top players -->
            TOP {{ total_count }} PLAYERS

            <i class="fa fa-trophy" aria-hidden="true"></i>
        </span>
        </h1>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Position</th>
                <th>Quiz</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>

            <!-- Show the best users scores -->
            {% for quiz_taker in quiz_takers %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ quiz_taker.quiz.topic }}</td>
                    <td>{{ quiz_taker.user.username }}</td>
                    <td>{{ quiz_taker.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

<!-- END CONTENT -->