<!-- FROM base.html -->
{% extends 'base.html' %}

<!-- CONTENT -->

{% block content %}

    {% if question is None %}
        <span class="badge badge-danger">
            <a>There is no more questions for you {{ user }}! </a>
            </span>
        <br>
        <a class="btn btn-danger btn-sm" href="{% url 'home' %}" role="button">More Quiz for you {{ user }}!</a>
        <br>
        <br>
        <p class="lead">Your total score is: {{ score }} </p>
        <br>
        <br>

        <!-- Leader board button -->
        <p class="lead">
            <i class="fas fa-trophy"></i>
            There are the best players of the QuizBot
            <i class="fas fa-trophy"></i>
        </p>
        <a class="btn btn-primary btn-sm" href="{% url 'leaderboard' %}" role="button">Top players</a>

    {% else %}

        <p><small>Your selected Topic: {{ question.quiz.topic }}</small></p>

        <h2>{{ question.question|safe }}</h2>

        <form class="form" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="question_pk" value="{{ question.pk }}">

            {% for answer in question.answers.all %}

                <div class="container">
                    <div class="col-md-8 offset-md-3 text-left">
                        <div class="col-md-8 offset-md-3">
                            <input class="form-check-input" type="radio" name="answer_pk"
                                   id="answer-{{ forloop.counter }}" value="{{ answer.id }}">
                            <label class="form-check-label" for="answer-{{ forloop.counter }}">
                                <h6 class="font-weight-bold">{{ answer.answer_text|safe }}</h6>
                            </label>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <br>
            <input class="btn btn-info btn-lg" type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}

<!-- END CONTENT -->
