{% extends 'base.html' %}

{% block content %}


    <h3 class="text-info">{{ question_answer.question_user.question|safe }}</h3>

    <p>
        <strong>Your answer: </strong>
        {{ question_answer.answer_user.answer_text|safe }}
    </p>
    <hr class="my-4">
    {% if question_answer.answer_user.is_correct %}
        <h4 class="text-success">Your answer is correct </h4>
        <h4 class="text-success">You get : {{ question_answer.question_user.question_score|safe }} points</h4>
    {% else %}
        <h4 class="text-danger">Your answer is incorrect </h4>
    {% endif %}
    <br>

    <a class="btn btn-info" href="{% url 'quiz' slug=question_answer.question_user.quiz.slug %}">Next question</a>



{% endblock content %}