{% block footer %}

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start fixed-bottom">

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2021 Copyright:
            <a class="text-dark"
               href="#">Tadas ir Dalius</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- END FOOTER -->

{% endblock %}