{% block header %}

    <!-- Header -->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

        <!-- Favicon -->
        <link rel=icon
              href=https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/svgs/solid/question-circle.svg>


        <!-- Tittle -->
        <title>QuizBot</title>


    </head>
    <!-- END HEADER -->

{% endblock %}