{% block navbar %}

    <!-- Navbar from Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="far fa-question-circle"></i> QuizBot
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if user.is_authenticated %}

                <!-- Navbar Left Side  -->
                <ul class="navbar-nav">
                    {% if perms.is_staff %}
                        <li class="nav-item active">
                            <a class="nav-link font-weight-bold" href="{% url 'admin:index' %}">Administrator</a>
                        </li>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'leaderboard' %}">Top players</a>
                    </li>
                </ul>

                <!-- Navbar Right Side ml-auto -->
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Atsijungti</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <!-- END NAVBAR -->

{% endblock %}